#### Created Employee class and objects(emp1,emp2)

In [46]:
# 1.created an employee class
# 1. objects are replica of class like emp1,emp2,emp3...
class Employee:
    pass

In [47]:
# 1. to access that Employee class
emp1=Employee()
emp2=Employee()

print(emp1,emp2)

<__main__.Employee object at 0x10979f440> <__main__.Employee object at 0x108892120>

#### Added Data to objects

In [49]:
class Employee:
    # __init__()-->is a constructor runs automatically when on object created,Assign attributes to objects
    # self-->current object
    def __init__(self,emp_name,emp_age):
        #Attributes
        self.name=emp_name
        self.age=emp_age

In [50]:
emp1=Employee("Rushika",23)
emp2=Employee("Reddy",20)

print(f"emp1:{emp1.name}") #the attribute inside the object is name, not emp_name
print(f"emp2:{emp2.age}")

emp1:Rushika
emp2:20

#### Add methods

In [56]:
class Employee:
    def __init__(self,emp_name,emp_age):
        self.name=emp_name
        self.age=emp_age

    def say_hello(self):
        print(f"i am {self.name}.my age is {self.age}")
    #  o/p:
    """
    i am Rushika.my age is 10
    None
    """
    # def say_hello(self):
    #     return(f"i am {self.name}.my age is {self.age}")

In [58]:
emp1=Employee("Rushika",10)
emp1.say_hello()
# print(emp1.say_hello())

'i am Rushika.my age is 10'

#### Modify logic inside methods

In [70]:
class Employee:
    def __init__(self,emp_name=None,emp_age=None):
        self.name=emp_name
        self.age=emp_age

    def say_hello(self):
        return f"Hi!My name is {self.name} and my age is {self.age}"

    def update_age(self,new_Age):
        self.age=new_Age

In [69]:
emp2=Employee("Rushika",20)
emp2.update_age(23)
print(emp2.say_hello())

Hi!My name is Rushika and my age is 23

#### Attributes :
1. Class Variables
2. Instance Variables

### ClassVariables
- Defined: inside class outside methods
- Shared across all objects
### InstanceVariables
- Defined: inside __init__()
- different for every object

#### Class Variables

In [85]:
class Employee:
    # Class Variables
    emp_company="Google"
    def __init__(self,emp_name):
        #instance Variables
        self.name=emp_name

    # Access classVariables inside methods
    def say_hello(self):
        return (f"My name is {self.name}.i am working at {Employee.emp_company}")

In [86]:
emp3=Employee("rani")
print(emp3.say_hello())

My name is rani.i am working at Google

#### Instance Variables

In [87]:
class Employee:
    def __init__(self,emp_name,emp_company):
        self.name=emp_name
        self.company=emp_company

    def say_hello(self):
        return (f"Hi My name is {self.name}.I am working at {self.company}")

In [89]:
emp4=Employee("Raju","Amazon")
print(emp4.say_hello())

Hi My name is Raju.I am working at Amazon

#### Encapsulation: hide important and reveal what needed
self.name=name --> Public Attribute
self._name=name --> protected Attribute
self.__name=name --> private Attribute

In [13]:
class Employee:
    def __init__(self,name=None,age=None,salary=None):
        self.name = name   # Public attribute
        self._age=age # Protected attribute
        self.__salary=salary #private attribute

In [14]:
emp1 = Employee("Rushika")
print(emp1.name)          

emp2= Employee(age=12)
print(emp2._age)

emp3=Employee(salary=34890.90)
print(emp3._Employee__salary)

Rushika
12
34890.9